/new_analyses/AI_healthcare/preproces_data.py
/new_analyses/AI_healthcare/.ipynb_checkpoints/
/new_analyses/PICOS/.ipynb_checkpoints/
/new_analyses/PICOS/results/
/new_analyses/PICOS/results2/
/new_analyses/PICOS/results_afterupdate/
/new_analyses/PICOS/results_chatcosy/
/new_analyses/PICOS/results_chroma_chatcosy/
/new_analyses/PICOS/results_chroma_directOllama/
/new_analyses/PICOS/results_chroma_directOllama_fixedparams/
/new_analyses/PICOS/results_directOllama/
/new_analyses/PICOS/analyze_PICOS.py
/new_analyses/PICOS/new_analysis_PICOS.py
/new_analyses/PICOS/new_analysis_PICOS-noChat.py
/new_analyses/PICOS/new_analysis_PICOS_directOllama.py
/new_analyses/PICOS/new_analysis_PICOS_directOllama_fixedparams.py
/new_analyses/PICOS/new_analysis_PICOS_directOllama_old.py
/new_analyses/PICOS/new_analysis_PICOS_old.py
/new_analyses/PNP/preprocess_dataset_PNP.py
/new_analyses/PNP/.ipynb_checkpoints/
/new_analyses/.ipynb_checkpoints/
/new_analyses/run_scripts.sh
/screener1.py
/screener1_oldimplementation.py
/screener1_oldimplementation (1).py
/screener_1.py
/new_analyses/results/.ipynb_checkpoints/
*.sqlite3
*.sqlite3
.env
/new_screener1_FAISS.py
.idea/
